<h3>{{getName()}}</h3>

<table>
    <tr>
        <th *ngFor="let column of skillList.availableColumns">{{column.caption}}</th>
    </tr>
    <tr *ngFor="let skill of character.skills[getName()]">
        <ng-container *ngFor="let column of skillList.availableColumns">
            <td *ngIf="column.type == 'text'">{{skill[column.name]}}</td>
            <td *ngIf="column.type == 'dice'" (click)="rollSkill(skill, column.name)">{{getDiceDescription(skill, column.name)}}</td>
        </ng-container>
    </tr>
</table>