<h1>{{character.name | uppercase}}</h1>
<mat-form-field>
    <mat-label>Name: </mat-label>
    <input matInput [(ngModel)]="character.name" />
</mat-form-field>
<mat-form-field *ngFor="let value of getValues()">
    <mat-label>{{value}}: </mat-label>
    <input matInput *ngIf="displayType(value) == 'Default'" [(ngModel)]="character.values[value]" />
    <div *ngIf="displayType(value) == 'LongText'" >
        <textarea matInput [(ngModel)]="character.values[value]" ></textarea>
    </div>
</mat-form-field>